:root {
    --main: #E71618;
    --main-80: #eb4446;
    --main-60: #f07374;
    --main-50: #f38a8b;
    --main-40: #f5a1a2;
    --main-10: #fce7e7;
    --secondary: #3E00FF;
    --secondary-80: #6432ff;
    --secondary-60: #8b66ff;
    --secondary-50: #9e7fff;
    --secondary-40: #b199ff;
    --secondary-10: #ebe5ff;
    --success: #198754;
    --success-80: #198754;
    --success-60: #198754;
    --success-50: #198754;
    --success-40: #198754;
    --success-10: #198754;
    --warning: #FFC107;
    --warning-80: #ffcd38;
    --warning-60: #ffd96a;
    --warning-50: #ffe083;
    --warning-40: #ffe69b;
    --warning-10: #fff8e6;
    --error: #DC3545;
    --error-80: #e35d6a;
    --error-60: #ea858f;
    --error-50: #ed9aa2;
    --error-40: #f1aeb4;
    --error-10: #fbeaec;
    --white-light: #FCFCFE;
    --white-background: #F5F3F6;
    --white: #ffffff;
    --black: #0f0f0f;
    --black-80: #3e3e3e;
    --black-60: #6f6f6f;
    --black-50: #878787;
    --black-40: #9f9f9f;
    --black-10: #e7e7e7;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

::-moz-selection {
    /* Code for Firefox */
    color: var(--white);
    background: var(--main);
}

::selection {
    color: var(--white);
    background: var(--main);
}

/* utilities & bootstrap */

.btn-main {
    color: var(--main);
}

.btn-main {
    color: white;
    background-color: var(--main);
    border-color: var(--main);
}

.btn-main:hover,
.btn-main:active,
.btn-main:focus {
    color: white;
    background-color: var(--main);
    border-color: var(--main);
}

/* .form-control:focus {
    border-color: var(--main);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px var(--main-40);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px var(--main-40);
} */

.dropdown-item:active {
    color: var(--main);
    background-color: var(--black-10);
}

/* navbar  */

ul {
    list-style: none;
}

ul li {
    margin: 0 5px;
}

.nav-active {
    color: var(--main) !important;
    font-weight: 500;
}

.nav-link {
    text-decoration: none;
    color: var(--black-80);
    font-weight: 500;
}

.nav-link:hover {
    color: var(--main) !important;
}

.dropmenu a {
    width: 200px;
}

.dropdown-item {
    font-weight: 400;
}

.dropdown-item:hover {
    color: var(--main);
}

/* main */

body {
    background-color: var(--white-background);
}

.header i {
    display: none;
}

/* Index */
.border-none {
    border: none !important;
}

.title-table a {
    font-size: 14px;
    font-weight: 500;
}

th {
    text-transform: uppercase;
}

.filter-title {
    margin: 15px 0 0;
}

.clear-filter {
    margin-bottom: 5px;
    display: flex;
    justify-content: end;
}

.clear-filter a {
    text-decoration: none;
    color: var(--secondary-60);
}

.clear-filter a:hover {
    text-decoration: none;
    color: var(--secondary);
}

.success-tambah {
    height: 100px;
    border-radius: 5px;
    background-color: var(--white);
    border-left: 15px solid var(--success);
    filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.1));
}

.success-tambah-none {
    display: none;
    height: 100px;
    border-radius: 5px;
    background-color: var(--white);
    border-left: 15px solid var(--success);
    filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.1));
}

.pesan-berhasil {
    font-size: 18px;
    font-weight: 500;
    color: var(--black-80);
}

.btn-filter {
    background-color: var(--secondary-10);
    color: var(--secondary);
    opacity: 0.8;
}

.btn-filter:hover {
    transition: all ease-in 0.8;
    opacity: 1;
    background-color: var(--secondary-10);
    color: var(--secondary);
}

.btn-reset {
    transition: all 0.8;
    color: var(--black-80);
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.btn-reset:hover {
    transition: all 0.8;
    color: var(--black);
    border: 1px solid rgba(0, 0, 0, 0.8);
}

.dropleft span {
    cursor: pointer;
}

.header-tabel {
    font-size: 36px;
}

.btn-second,
.btn-second:hover {
    background-color: var(--secondary);
    color: var(--white);
}


/* create & edit */
.form-title,
.title-table {
    margin-bottom: 30px;
}

.form-group label {
    text-transform: uppercase;
}

.pesan-warning {
    font-size: 12px;
    color: var(--error);
    font-weight: 500;
}

.disableWarning {
    display: none;
}

.popoutWarning {
    display: contents;
}

.btn-white {
    background-color: var(--white-background);
}


/* login */
.login-icon {
    transform: translate(295px, -30px);
}

.error-text {
    color: var(--error);
    transform: translateY(-25px);
}

/* Error Page */
.logo-brand {
    margin: 20px 0;
}

.error-heading {
    font-weight: 700;
    margin-top: 30px;
}

.error-404 {
    font-weight: 700;
    font-size: 200px;
    margin: 20px;
    color: var(--error);
}

.error-body a {
    margin-top: 20px;
    text-decoration: none;
}

/* RESPONSIVE */

/* Handphone */
@media (max-width: 575.98px) {

    .main-content {
        margin: 5px;
    }

    /* sidebar */
    .dropdown-menu {
        width: max-content;
    }

    .navbar-nav {
        margin: 10px 0 5px 0;
    }

}

/* Tablet */
@media (min-width: 576px) {}
